body{
    width: 50%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    background-color: #e0dfd9;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1500px) {
    body{
        width: 90%;
    }
}

@media only screen and (max-width: 820px) {
    .mobile{display: block;}
    .desktop {display: none;}
}

h1{
    margin: 0;
}

header {
    margin-top: 3rem;
}

img {
    max-width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

hr {
    border: none;
    background-color: #424242;
    height: 2px;
}

hr.new1 {
    border: none;
    background-color:#4b4444;
    height: 1px;
}

p{
    font-size: large;
}

.project {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.project > div {
    padding: 1em;
}

.mylinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mylinks > a {
    margin-top: 2rem;
    text-decoration: none;
    color: #464343;
}

.mylinks > a:hover{
    text-decoration: none;
    color:rgb(108, 108, 179);
}